/db.pyc
/fpgaDb.db
/inputs/boards_PARSED.txt
/xdlrcParser/python/cfg.pyc
/xdlrcParser/python/conn.pyc
/xdlrcParser/python/element.pyc
/xdlrcParser/python/pin.pyc
/xdlrcParser/python/primitive_def.pyc
/xdlrcParser/python/primitive_defs.pyc
/xdlrcParser/python/primitive_site.pyc
/xdlrcParser/python/summary.pyc
/xdlrcParser/python/tile.pyc
/xdlrcParser/python/tiles.pyc
/xdlrcParser/python/xdl_resource_report.pyc
